In [1]:
!rm Chinook.zip
!rm *.csv

In [2]:
!wget https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip

--2025-02-13 00:06:56--  https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip
Resolving github.com (github.com)... 140.82.113.4
connected. to github.com (github.com)|140.82.113.4|:443...
302 Foundest sent, awaiting response...
Location: https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip [following]
--2025-02-13 00:06:56--  https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146381 (143K) [application/zip]
Saving to: ‘Chinook.zip’

Chinook.zip         100%[===================>] 142.95K  --.-KB/s    in 0.02s

2025-02-13 00:06:56 (6.44 MB/s) - ‘Chinook.zip’ saved [146381/146381]

In [3]:
!unzip Chinook.zip

Archive:  Chinook.zip
  inflating: Album.csv
  inflating: Artist.csv
  inflating: Customer.csv
  inflating: Employee.csv
  inflating: Genre.csv
  inflating: Invoice.csv
  inflating: InvoiceLine.csv
  inflating: MediaType.csv
  inflating: Playlist.csv
  inflating: PlaylistTrack.csv
  inflating: Track.csv

In [4]:
from sqlalchemy import create_engine, text
import pandas as pd
import os
import pickle

In [5]:
engine = create_engine("mysql+mysqlconnector://root:123456@127.0.0.1:3306/Chinook")
conn = engine.connect()

In [6]:
csv_files = [file for file in os.listdir() if file.endswith(".csv")]

for file in csv_files:
    table_name = file.replace(".csv", "") 
    df = pd.read_csv(file)
    df.to_sql(name=table_name, con=engine, if_exists="replace", index=False)
    print(f"Loaded {file} into {table_name} table successfully.")

Loaded Employee.csv into Employee table successfully.
Loaded Album.csv into Album table successfully.
Loaded Genre.csv into Genre table successfully.
Loaded Track.csv into Track table successfully.
Loaded InvoiceLine.csv into InvoiceLine table successfully.
Loaded Playlist.csv into Playlist table successfully.
Loaded Customer.csv into Customer table successfully.
Loaded Artist.csv into Artist table successfully.
Loaded MediaType.csv into MediaType table successfully.
Loaded PlaylistTrack.csv into PlaylistTrack table successfully.
Loaded Invoice.csv into Invoice table successfully.

In [7]:
#### Q1: Retrieve all information about the artist "Queen" from the Artist table.

In [8]:
#q1
query = "SELECT * FROM Artist WHERE Name = 'Queen'"

q1_df = pd.read_sql(query, conn)
q1_df.to_pickle("q1.pkl")
# print(q1_df)

In [9]:
#### Q2: What are all the albums released by the artist "Queen"?

In [10]:
#q2
subquery = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
query = f"SELECT * FROM Album WHERE ArtistId = {subquery}"

q2_df = pd.read_sql(query, conn)
q2_df.to_pickle("q2.pkl")
# print(q2_df)

In [11]:
#### Q3: What are all the tracks released by the artist "Queen"?.

In [12]:
#q3
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"SELECT * FROM Track WHERE AlbumId IN {subquery1}"

q3_df = pd.read_sql(query, conn)
q3_df.to_pickle("q3.pkl")
# print(q3_df)

In [13]:
#### Q4: How many tracks released by "Queen" were composed or co-composed by "Queen"?

In [14]:
#q4
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"SELECT COUNT(*) AS TotalQueenTracks FROM Track WHERE AlbumId IN {subquery1} AND Composer LIKE '%Queen%'"

q4_df = pd.read_sql(query, conn)
q4_df.to_pickle("q4.pkl")
# print(q4_df)

In [15]:
#### Q5: Who are all the composers of tracks by the artist "Queen"?

In [16]:
#q5
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"SELECT DISTINCT Composer FROM Track WHERE AlbumId IN {subquery1}"

q5_df = pd.read_sql(query, conn)
q5_df.to_pickle("q5.pkl")
# print(q5_df)

In [17]:
#### Q6: Which are the top 5 longest tracks by the artist "Queen"?

In [18]:
#q6
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"SELECT * FROM Track WHERE AlbumId IN {subquery1} ORDER BY Milliseconds DESC LIMIT 5"

q6_df = pd.read_sql(query, conn)
q6_df.to_pickle("q6.pkl")
# print(q6_df)

In [19]:
#### Q7: What are all the tracks by the artist "Queen" that are sized smaller than 6MB?

In [20]:
#q7
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"SELECT * FROM Track WHERE AlbumId IN {subquery1} AND Bytes <= 6000000"

q7_df = pd.read_sql(query, conn)
q7_df.to_pickle("q7.pkl")
# print(q7_df)

In [21]:
#### Q8: Generate human-readable details about all tracks released by "Queen".

In [22]:
#q8
subquery2 = "(SELECT ArtistId FROM Artist WHERE Name = 'Queen')"
subquery1 = f"(SELECT AlbumId FROM Album WHERE ArtistId = {subquery2})"
query = f"""
SELECT 
    Name, 
    (Milliseconds / 60000.0) AS DurationMinutes, 
    (Bytes / (1000.0 * 1000.0)) AS FileSize 
FROM Track 
WHERE AlbumId IN {subquery1}
"""

q8_df = pd.read_sql(query, conn)
q8_df.to_pickle("q8.pkl")
# print(q8_df)

In [23]:
#### Q9: Who are all the customers from USA?

In [24]:
#q9
query = "SELECT CustomerId, FirstName, LastName, State FROM Customer WHERE Country = 'USA' ORDER BY State"

q9_df = pd.read_sql(query, conn)
q9_df.to_pickle("q9.pkl")
# print(q9_df)

In [25]:
#### Q10: Which invoices correspond to transactions costing greater than $20?

In [26]:
#q10
query = "SELECT * FROM Invoice WHERE Total > 20"

q10_df = pd.read_sql(query, conn)
q10_df.to_pickle("q10.pkl")
# print(q10_df)

In [27]:
#### Q11: Which invoices were issued in the year 2021?

In [28]:
#q11
query = "SELECT * FROM Invoice WHERE InvoiceDate LIKE '2021%'"

q11_df = pd.read_sql(query, conn)
q11_df.to_pickle("q11.pkl")
# print(q11_df)

In [29]:
#### Q12: What was the total expenditure of "Eduardo Martins"?

In [30]:
#q12
subquery = "(SELECT CustomerId FROM Customer WHERE FirstName = 'Eduardo' AND LastName = 'Martins')"
query = f"SELECT SUM(Total) AS TotalSpent FROM Invoice WHERE CustomerId = {subquery}"

q12_df = pd.read_sql(query, conn)
q12_df.to_pickle("q12.pkl")
# print(q12_df)

In [31]:
#### Q13: Which customers from the USA do not have any specified company information?

In [32]:
#q13
query = "SELECT * FROM Customer WHERE Country = 'USA' AND Company IS NULL"

q13_df = pd.read_sql(query, conn)
q13_df.to_pickle("q13.pkl")
# print(q13_df)

In [33]:
#### Q14: Who are all the Canadian employess?

In [34]:
#q14
query = "SELECT * FROM Employee WHERE Country = 'Canada'"

q14_df = pd.read_sql(query, conn)
q14_df.to_pickle("q14.pkl")
# print(q14_df)

In [35]:
#### Q15: Retrieve the names of all customers along with their corresponding invoice totals.

In [36]:
#q15
query = f""" SELECT C.FirstName, C.LastName, I.Total
FROM Customer C 
JOIN Invoice I 
ON C.CustomerId = I.CustomerId
ORDER BY C.LastName, I.Total
"""
q15_df = pd.read_sql(query, conn)
q15_df.to_pickle("q15.pkl")
# print(q15_df)

In [37]:
#### Q16: Which customers purchased the tracks by "Queen"?

In [38]:
#q16
query = f""" SELECT DISTINCT C.CustomerId, C.FirstName, C.LastName 
FROM Customer C
JOIN Invoice I
ON C.CustomerId = I.CustomerId
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY C.CustomerId
"""

q16_df = pd.read_sql(query, conn)
q16_df.to_pickle("q16.pkl")
# print(q16_df)

In [39]:
#### Q17: Retrieve Invoice Details for the tracks by "Queen".

In [40]:
#q17
query = f""" SELECT DISTINCT I.InvoiceId, I.InvoiceDate, I.BillingCountry, I.Total 
FROM Invoice I
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY I.InvoiceId
"""

q17_df = pd.read_sql(query, conn)
q17_df.to_pickle("q17.pkl")
# print(q17_df)

In [41]:
#### Q18: Retrieve tracks details by "Queen" along with the corresponding album titles and media types.

In [42]:
#q18
query = f""" SELECT T.TrackId, T.Name AS TrackName, A.Title AS AlbumTitle, M.Name AS MediaTypeName
FROM MediaType M
JOIN Track T
ON M.MediaTypeId = T.MediaTypeId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY T.TrackId
"""

q18_df = pd.read_sql(query, conn)
q18_df.to_pickle("q18.pkl")
# print(q18_df)

In [43]:
#### Q19: Find genres of tracks by "Queen".

In [44]:
#q19
query = f""" SELECT T.TrackId, T.Name AS TrackName, G.Name AS GenreName
FROM Genre G
JOIN Track T
ON G.GenreId = T.GenreId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY T.TrackId
"""

q19_df = pd.read_sql(query, conn)
q19_df.to_pickle("q19.pkl")
# print(q19_df)

In [45]:
#### Q20: Retrieve invoice details for customers from the USA who purchased tracks by "Queen".

In [46]:
#q20
query = f""" SELECT DISTINCT I.InvoiceId, I.InvoiceDate, I.BillingCity, I.BillingState, I.CustomerId
FROM Invoice I 
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen' AND I.BillingCountry = 'USA'
ORDER BY I.InvoiceId
"""

q20_df = pd.read_sql(query, conn)
q20_df.to_pickle("q20.pkl")
# print(q20_df)

In [47]:
#### Q21: Find all playlists that contain tracks by "Queen".

In [48]:
#q21
query = f""" SELECT DISTINCT P.Name AS PlaylistName
FROM Playlist P 
JOIN PlaylistTrack PT
ON P.PlaylistId = PT.PlaylistId
JOIN Track T
ON PT.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY P.Name
"""

q21_df = pd.read_sql(query, conn)
q21_df.to_pickle("q21.pkl")
# print(q21_df)

In [49]:
#### Q22: List all the employees (sales agents) who supported customers that purchased tracks by "Queen."

In [50]:
#q22
query = f""" SELECT DISTINCT E.EmployeeId, E.FirstName, E.LastName
FROM Employee E 
JOIN Customer C
ON E.EmployeeId = C.SupportRepId
JOIN Invoice I
ON C.CustomerId = I.CustomerId
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
ORDER BY E.EmployeeId
"""

q22_df = pd.read_sql(query, conn)
q22_df.to_pickle("q22.pkl")
# print(q22_df)

In [51]:
#### Q23: Retrieve a list of all albums along with the names of their artists, including albums that don't have any artist information.

In [52]:
#q23
conn.execute(text("""
    ALTER TABLE Album MODIFY Title VARCHAR(255) COLLATE utf8mb4_general_ci;
"""))

conn.execute(text("""
    SET collation_connection = 'utf8mb4_general_ci';
"""))

query = f""" SELECT A.Title AS AlbumTitle, AR.Name AS ArtistName
FROM Album A
LEFT JOIN Artist AR 
ON A.ArtistId = AR.ArtistId
ORDER BY AlbumTitle ASC, ArtistName ASC
"""

q23_df = pd.read_sql(query, conn)
q23_df.to_pickle("q23.pkl")
# print(q23_df)

In [53]:
#### Q24: Retrieve a list of all artists and their corresponding albums, including artists who have not released any albums.

In [54]:
#q24
query = f""" SELECT AR.Name AS ArtistName, A.Title AS AlbumTitle
FROM Album A
RIGHT JOIN Artist AR 
ON A.ArtistId = AR.ArtistId
ORDER BY ArtistName, AlbumTitle
"""

q24_df = pd.read_sql(query, conn)
q24_df.to_pickle("q24.pkl")
# print(q24_df)

In [55]:
#### Q25: How many tracks are there in each genre?

In [56]:
#q25
query = f""" SELECT T.GenreId, COUNT(T.TrackId) AS TrackCount 
FROM Track T
GROUP BY T.GenreId
ORDER BY TrackCount DESC, T.GenreId
"""

q25_df = pd.read_sql(query, conn)
q25_df.to_pickle("q25.pkl")
# print(q25_df)

In [57]:
#### Q26: What is the total duration (in hours) of tracks for top 5 longest albums?

In [58]:
#q26
query = f""" SELECT T.AlbumId, A.Title AS AlbumTitle, SUM(T.Milliseconds) / (1000 * 60 * 60) AS TotalDurationHours 
FROM Track T
JOIN Album A
ON T.AlbumId = A.AlbumId
GROUP BY T.AlbumId, AlbumTitle
ORDER BY TotalDurationHours DESC
LIMIT 5
"""

q26_df = pd.read_sql(query, conn)
q26_df.to_pickle("q26.pkl")
# print(q26_df)

In [59]:
#### Q27: Retrieve all albums that contain tracks from more than one genre.

In [60]:
#q27
query = f""" SELECT A.Title AS AlbumTitle, COUNT(DISTINCT T.GenreId) AS GenreCount
FROM Track T
JOIN Album A
ON T.AlbumId = A.AlbumId
GROUP BY T.AlbumId, AlbumTitle
HAVING GenreCount > 1
ORDER BY GenreCount DESC, AlbumTitle
"""

q27_df = pd.read_sql(query, conn)
q27_df.to_pickle("q27.pkl")
# print(q27_df)

In [61]:
#### Q28: Calculate the total revenue for all artists.

In [62]:
#q28
query = f""" SELECT AR.Name AS ArtistName, SUM(IL.UnitPrice * IL.Quantity) AS TotalRevenue
FROM Track T
JOIN InvoiceLine IL
ON T.TrackId = IL.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
GROUP BY AR.Name
ORDER BY TotalRevenue DESC, ArtistName
"""

q28_df = pd.read_sql(query, conn)
q28_df.to_pickle("q28.pkl")
# print(q28_df)

In [63]:
#### Q29: Which genres have greater than 20 minute average track duration?

In [64]:
#q29
query = f""" SELECT G.Name AS GenreName, AVG(T.Milliseconds / (1000 * 60)) AS AverageDurationMinutes 
FROM Track T
JOIN Genre G
ON T.GenreId = G.GenreId
GROUP BY T.GenreId, G.Name
HAVING AverageDurationMinutes > 20
ORDER BY AverageDurationMinutes DESC
"""

q29_df = pd.read_sql(query, conn)
q29_df.to_pickle("q29.pkl")
# print(q29_df)

In [65]:
#### Q30: What is the total expenditure incurred by customers who purchased tracks by "Queen"?

In [66]:
#q30
query = f""" SELECT C.CustomerId, C.FirstName, C.LastName, SUM(IL.UnitPrice * IL.Quantity) AS TotalExpenditure, 
RANK() OVER  (ORDER BY SUM(IL.UnitPrice * IL.Quantity) DESC) AS ExpenditureRank
FROM Customer C
JOIN Invoice I
ON C.CustomerId = I.CustomerId
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
GROUP BY C.CustomerId, C.FirstName, C.LastName
ORDER BY TotalExpenditure DESC, C.CustomerId
"""

q30_df = pd.read_sql(query, conn)
q30_df.to_pickle("q30.pkl")
# print(q30_df)

In [67]:
#### Q31: Find each track's duration and rank all tracks by their duration.

In [68]:
#q31
query = f""" SELECT T.TrackId, T.Name AS TrackName, T.Milliseconds / (1000 * 60) AS DurationMinutes,
RANK() OVER (ORDER BY Milliseconds DESC) AS DurationRank
FROM Track T
ORDER BY DurationRank, DurationMinutes DESC, T.TrackId
"""

q31_df = pd.read_sql(query, conn)
q31_df.to_pickle("q31.pkl")
# print(q31_df)

In [69]:
#### Q32: Rank customers who purchased tracks by "Queen" based on their total expenditure.

In [70]:
#q32
query = f""" SELECT C.CustomerId, C.FirstName, C.LastName, SUM(IL.UnitPrice * IL.Quantity) AS TotalExpenditure, 
RANK() OVER  (ORDER BY SUM(IL.UnitPrice * IL.Quantity) DESC) AS ExpenditureRank
FROM Customer C
JOIN Invoice I
ON C.CustomerId = I.CustomerId
JOIN InvoiceLine IL
ON I.InvoiceId = IL.InvoiceId
JOIN Track T
ON IL.TrackId = T.TrackId
JOIN Album A
ON T.AlbumId = A.AlbumId
JOIN Artist AR
ON A.ArtistId = AR.ArtistId
WHERE AR.Name = 'Queen'
GROUP BY C.CustomerId, C.FirstName, C.LastName
ORDER BY TotalExpenditure DESC, C.CustomerId
"""

q32_df = pd.read_sql(query, conn)
q32_df.to_pickle("q32.pkl")
# print(q32_df)

In [71]:
#### Q33: Calculate the total number of invoices for each customer and assign a sequential rank to each customer based on their total invoices.

In [72]:
#q33
query = f""" SELECT C.CustomerId, C.FirstName, C.LastName, COUNT(I.InvoiceId) AS InvoicesCount, 
RANK() OVER (ORDER BY COUNT(I.InvoiceId) DESC, C.LastName) AS InvoiceRank
FROM Customer C
JOIN Invoice I
ON C.CustomerId = I.CustomerId
GROUP BY C.CustomerId, C.FirstName, C.LastName
ORDER BY InvoiceRank
"""

q33_df = pd.read_sql(query, conn)
q33_df.to_pickle("q33.pkl")
# print(q33_df)

In [73]:
#### Q34: Find the top 3 invoices per country.

In [74]:
#q34
subquery = f""" (SELECT I.BillingCountry, I.InvoiceId, I.Total, 
RANK() OVER (PARTITION BY I.BillingCountry ORDER BY I.Total DESC) AS InvoiceRank
FROM Invoice I
ORDER BY BillingCountry, Total)
"""

query = f""" SELECT BillingCountry, InvoiceId, Total, InvoiceRank
FROM {subquery} SortedInvoices
WHERE InvoiceRank <= 3
ORDER BY BillingCountry, Total DESC, InvoiceId
"""

q34_df = pd.read_sql(query, conn)
q34_df.to_pickle("q34.pkl")
# print(q34_df)

In [75]:
#### Q35: Calculate the moving average of monthly sales.

In [76]:
#q35

query = f""" SELECT DATE_FORMAT(InvoiceDate, '%Y-%m') AS Month, SUM(Total) AS MonthlySales,
AVG(SUM(Total)) OVER (ORDER BY DATE_FORMAT(InvoiceDate, '%Y-%m') ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS MovingAverageSales
FROM Invoice
GROUP BY Month
ORDER BY Month;
"""

q35_df = pd.read_sql(query, conn)
q35_df.to_pickle("q35.pkl")
# print(q35_df)